<div class="container mt-5">
    <div class="row mt-5">
        <div class="d-flex justify-content-end mt-5 mb-3">
            <button class="btn btn-red btn-circle btn-xl shadow" (click)="onReturn()">
                <i class="fas fa-arrow-alt-circle-left"></i>
            </button>
        </div>
        <div *ngIf="product" class="col-12 col-sm-10 col-lg-8 col-md-10 text-center mx-auto">
            <div class="card shadow-lg border-0">
                <div class="row">
                    <div class="col-12 col-md-4">
                        <div class="h-100 d-flex align-items-center justify-content-center p-5">
                            <img src="{{product.image}}" class="img-fluid border-0 w-100" alt="{{product.title}}">
                        </div>
                    </div>
                    <div class="col-12 col-md-8">
                        <div class="card-body">
                            <h3 class="card-title">{{product.title}}</h3>
                            <hr class="mx-auto w-75">
                            <p class="card-text">{{product.description}}</p>
                            <h3 class="my-3">{{product.price | currency}}</h3>
                            <div class="text-center">
                                <button *ngIf="!existInCart(product)" (click)="addToCart(product)" class="btn btn-red btn-rounded p-3 fw-bold text-uppercase mt-3" type="button"><i class="fas fa-plus-circle"></i> add to cart</button>
                                <button *ngIf="existInCart(product)" (click)="removeProduct(product)" class="btn btn-red btn-rounded p-3 fw-bold text-uppercase mt-3" type="button"><i class="fas fa-minus-circle"></i> remove from cart</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>