<div class="row mt-5">
    <app-loader [isLoading]="isLoading"></app-loader>
    <div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-3 text-center mt-5" *ngFor="let product of products$ | async">
        <div *ngIf="!isLoading" class="card h-100 shadow-lg border-0">
            <div class="h-50 d-flex align-items-center justify-content-center p-5">
                <img src="{{product.image}}" class="img-fluid border-0 w-50" alt="{{product.title}}">
            </div>
            <hr>
            <div class="card-body">
                <h3 class="card-title">{{product.price | currency}}</h3>
                <p class="card-text">{{product.title}}</p>
                <div class="text-center">
                    <button (click)="onProductClick(product)" class="btn btn-red btn-circle btn-xl me-3 shadow" type="button"><i class="fas fa-info-circle"></i></button>
                    <button *ngIf="!existInCart(product)" (click)="addToCart(product)" class="btn btn-red btn-circle btn-xl me-3 shadow" type="button"><i class="fas fa-plus-circle"></i></button>
                    <button *ngIf="existInCart(product)" (click)="removeProduct(product)" class="btn btn-red btn-circle btn-xl shadow" type="button"><i class="fas fa-minus-circle"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>